:root {
  /* fonts */
  --heading-ff-ss-1: 'Raleway', sans-serif;
  --heading-ff-ss-2: 'Montserrat', sans-serif;
  --heading-ff-ss-3: 'Quicksand', sans-serif;
  --heading-ff-ss-4: 'Nunito', sans-serif;
  --heading-ff-s-1: 'Lora', serif;
  --heading-ff-s-2: 'Playfair Display', serif;
  --heading-ff-s-3: 'Old Standard TT', serif;

  --main-ff-ss-1: 'Lato', sans-serif;
  --main-ff-ss-2: 'Open Sans', sans-serif;
  --main-ff-ss-3: 'Roboto', sans-serif;


  /* colors */
  --yellow: #FFDB62;
  --yellow-lighter: #FFE691;
  --orange: #FDA354;
  --red: #E85668;
  --pink: #F98F9D;
  --blue: #59A8ED;
  --blue-lighter: #9BD8EB;
  --purple: #C584E8;
  --green: #60D195;
  --green-darker: #56BC86;
  --brown: #937254;
  --brown-darker: #85674C;

  --p-gray: #7E949B;
  --p-green: #93D179;
  --p-blue: #5C70DA;
  --p-red: #F08367;
  --p-blue-lighter: #A5E6E4;
  --p-gray-lighter: #D2D2D2;
  --p-beige: #EECA9E;

  --almost-white: #f7f7f7;
  --gray-darker: #696969;
  --gray: #ccc;
  --gray-lighter: #E8E8E8;
  --gray-lightest: #F0F0F0;
  --almost-black: #282828;


  /* sizes */
  --space: 1rem;


  /* font-weights */
  --light: 300;
  --regular: 400;
  --bold: 700;
  --black: 900;


  /* transitions */
  --smooth: ease-in-out 0.25s;
  --smooth-border: border 0.5s ease-in-out;


  /* box-shadows */
  --smooth-light-shadow: 0 2px 4px var(--almost-white), 0 2px 4px rgba(0,0,0,0.24);
  --smooth-dark-shadow: 0 1.5rem 2rem rgba(0,0,0,0.3), 0 0 2rem rgba(0,0,0,0.1);
  --smooth-big-dark-shadow: 0 4px 100px var(--almost-white), 0 4px 100px rgba(0,0,0,0.5);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
  box-sizing: border-box;
  font-size: 62.5%; /* 1 rem = 10 px */
}

body {
  width: 100vw;
  height: 100vh;
  background: var(--almost-white);
}

header {
  width: 100vw;
  height: 5rem;
  margin: 0 auto;
  border: 1px solid cyan;
}

nav {
  width: 100vw;
  padding: var(--space);
  top: 0;
  position: relative;
  z-index: 10000;
  background: var(--almost-white);
  border-bottom: 0.1rem solid black;
  transition: var(--smooth);
}

nav ul {
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
  background: inherit;
  font-family: var(--main-ff-ss-1);
  font-size: 1.7vw;
  font-weight: normal;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15rem;
  color: var(--almost-black);
  list-style-type: none;
  transition: var(--smooth);
}

nav ul li {
  flex: 0.1 1 auto; /* grow shrink basis */
  /* padding: 1.5rem 0 1.5rem 0; */
  background: transparent;
}

nav ul li:first-child {
  flex: 1 0 auto;
  background: transparent;
}

nav ul li:nth-child(2) {
  flex: 12 1 auto;
  background: transparent;
}

nav ul li a {
  font-size: inherit;
  text-decoration: inherit;
  color: var(--almost-black);
  transition: var(--smooth);
}

nav li a:hover {
  color: var(--blue);
}

main {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  display: grid;
  /* rows | cols */
  grid-template: repeat(12, 1fr) / repeat(12, 1fr);
  grid-gap: 0;
  border: 1px solid transparent;
}

footer {
  width: 100vw;
  height: 20rem;
  margin: 0 auto;
  bottom: 0;
  position: relative;
  border: 1px solid cyan;
}

h2 {
  font-family: var(--heading-ff-ss-1);
  font-size: 3vw;
  font-weight: var(--light);
  text-align: left;
  text-transform: capitalize;
  text-decoration: none;
  letter-spacing: 0.25rem;
  color: var(--primary-text);
  border: 1px solid transparent;
}

h3 {
  font-family: var(--heading-ff-ss-1);
  font-size: 0.8vw;
  font-weight: var(--bold);
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15rem;
  color: var(--primary-text);
  border: 1px solid transparent;
}





.formDataContainer {
  width: 100%;
  height: 10rem;
  margin: calc(var(--space)*0.5)
          0
          calc(var(--space)*2.5)
          0;
  background: lightgreen;
}

.left {
  /* row-start | col-start | row-end | col-end */
  grid-area: 1 / 1 / span 12 / span 2;
  padding: calc(var(--space)*2);
  background: yellow;
  display: none;
}

.left form {
  font-family: var(--main-ff-ss-1);
  font-size: 1.5vw;
  font-weight: var(--regular);
  text-align: left;
  text-transform: capitalize;
  text-decoration: none;
  letter-spacing: 0.25rem;
  color: var(--primary-text);
}

.left form label {
  border: 1px solid red;
}

.right {
  /* row-start | col-start | row-end | col-end */
  grid-area: 1 / 4 / span 12 / span 9;
  display: grid;
  /* grid-rows | grid-cols */
  grid-template: repeat(5, 1fr) / repeat(12, 1fr);
  grid-gap: var(--space);
  padding: calc(var(--space)*2);
  background: lightblue;
  display: none;
}

.miniData {
  grid-area: 1 / 1 / span 6 / span 2;
  background: pink;
  display: none;
}

.miniSports {
  grid-area: 1 / 3 / span 6 / span 2;
  background: pink;
  display: none;
}
